.mat-form-field{
    margin: 1%;
    width: 30%;
}

.mat-raised-button{
    margin-left: 1%;
    width: 10%;
}



::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: #08a884!important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #08a884!important;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #08a884!important;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
    color: red!important;
    opacity: 0.8!important;
}

::ng-deep .mat-input-element {
    caret-color: #08a884!important;
}

::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
    caret-color: red!important;
}

::ng-deep .mat-form-field-label {
    color: rgba(0,0,0,.6)!important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #08a884!important;
}

::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: red!important;
}
