<div *ngIf="medical" class="main-container add-patient">
    <button mat-icon-button class="material-icons" (click)="goBack()">
        <mat-icon>
            arrow_back
        </mat-icon>
    </button>
    <div class="form-div">
    <h1>{{medical.firstName}}
        <span *ngIf="medical.middleName"> {{medical.middleName}}</span>
        {{medical.lastName}}
        <button mat-raised-button color="primary" routerLink="/patient/edit/{{medical._id}}">Edit user</button>
    </h1>
    <p>Address: {{medical.address}}</p>
    <p>Email: {{medical.email}}</p>
    <p>Phone number: {{medical.phoneNumber}}</p>
    <p>ID: {{medical.userId}}</p>
    <br>
    </div>
</div>
