<div *ngIf="medical" class="main-container add-patient">
    <h1>
        <button mat-icon-button class="material-icons" (click)="goBack()">
            <mat-icon>
                arrow_back
            </mat-icon>
        </button>
        {{medical.firstName}}
        <span *ngIf="medical.middleName"> {{medical.middleName}}</span>
        {{medical.lastName}}
        <button mat-icon-button class="material-icons mat-icons-custom" routerLink="/edit-user/{{medical._id}}">
            <mat-icon>
                create
            </mat-icon>
        </button>
    </h1>
    <div class="form-div">
    <p>Address: {{medical.address}}</p>
    <p>Email: {{medical.email}}</p>
    <p>Phone number: {{medical.phoneNumber}}</p>
    <p>ID: {{medical.userId}}</p>
    <br>
    </div>
</div>
