<p>Visit id: {{visit._id}}
<button mat-raised-button color="accent" routerLink="/patient/{{this.patientId}}/visit/edit/{{this.visitId}}">Edit visit</button>
<button mat-raised-button color="warn" (click)="confirmDeleteVisitDialog()">Delete visit</button>
</p>
<p>Doctor: {{visit.doctorName}}</p>
<button mat-raised-button (click)="goBack()">Go back</button>
<br>
<button mat-raised-button color="accent" [disabled]="this.diseases == null" (click)="openPickDiseases()">Predict disease</button>
<button mat-raised-button color="accent" (click)="openPickExams()">Predict based on the exams</button>

<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
  <ng-container matColumnDef="Id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element._id}} </td>
  </ng-container>
  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef> Exam name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="Date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.date | date: 'longDate'}} </td>
  </ng-container>
  <ng-container matColumnDef="Action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element" class="action-link">
      <a (click)="openDialog('Update',element)">Edit</a> |
      <a (click)="confirmDeleteExamDialog(element._id)">Delete</a>
    </td>
  </ng-container>


<!--  &lt;!&ndash; Expanded Content Column - The detail row is made up of this one column that spans across all columns &ndash;&gt;-->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <table mat-table [dataSource]="element.features" class="mat-elevation-z0 inner-feature-table">

          <ng-container matColumnDef="featureName">
            <th mat-header-cell *matHeaderCellDef> Feature Name </th>
            <td mat-cell *matCellDef="let elem"> {{elem.name}} </td>
          </ng-container>

          <ng-container matColumnDef="featureValue">
            <th mat-header-cell *matHeaderCellDef> Value </th>
            <td mat-cell *matCellDef="let elem"> {{elem.value}} {{elem.unit}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="featuresColumnsToDisplay"></tr>
          <tr mat-row *matRowDef="let row; columns: featuresColumnsToDisplay;"></tr>
        </table>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>

<button mat-raised-button color="accent" routerLink="/patient/{{this.patientId}}/add-exam/{{this.visitId}}">Add exam</button>
