.visit-details{
  margin: 2%;
}

.form-div{
  height: 100%;
  padding: 2%;
  border-radius: 10px;
  display: block;
  background-color: white;
}

.inline-visit{
  /*display: inline-flex;*/
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.mat-raised-button{
  height: 90%;
}

h2{
  margin-top: 5%;
  margin-bottom: 0;
}
tr.example-detail-row {
  height: 0;
}

.example-element-row td {
  background: #fafafa;
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
}

.feature-detail{
  margin: 10px 0;
  padding: 10px 0;
}

.inner-feature-table{
  width: 100%;
  position: relative;
  right: 1%;
}



