@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$my-green: (
        50: #08a884,
        100: #08a884,
        200: #08a884,
        300: #08a884,
        400: #08a884,
        500: #08a884,
        600: #08a884,
        700: #08a884,
        800: #08a884,
        900: #08a884,
        A100: #08a884,
        A200: #01524B,
        A400: #08a884,
        A700: #08a884,
        contrast: (
                50: white,
                100: white,
                200: white,
                300: white,
                400: white,
                500: white,
                600: white,
                700: white,
                800: white,
                900: white,
                A100: white,
                A200: white,
                A400: white,
                A700: white,
        )
);
$ml-app-primary: mat-palette($my-green);
$ml-app-accent: mat-palette($my-green, A200);
//$ml-app-accent: mat-palette($mat-green, 700);
$ml-app-foreground-color: rgb(255, 255, 255);

// The warn palette is optional (defaults to red).
$ml-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ml-app-theme: mat-light-theme($ml-app-primary, $ml-app-accent, $ml-app-warn);

$foreground: map-get($ml-app-theme, foreground);
$foreground: map_merge($foreground, (foreground: $ml-app-foreground-color));
$ml-app-background-color: #FFFFFF;
$background: map-get($ml-app-theme, background);
$background: map_merge($background, (background: $ml-app-background-color));
$ml-app-theme: map_merge($ml-app-theme, (background: $background));

$ml-app-theme: map_merge($ml-app-theme, (foreground: $foreground));
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ml-app-theme);
@include mat-form-field-theme($ml-app-theme); // Form-Field theme
@include mat-input-theme($ml-app-theme);      // Input Theme
