<div class="main-container">
  <div class="search-bar">
    <mat-form-field class="SearchBar">
      <mat-label>Search</mat-label>
      <input matInput (keyup)="filterName($event)" placeholder="Patient">
    </mat-form-field>
    <button mat-raised-button color="primary" routerLink="/add-patient" class="add-patient-button">Add patient</button>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 patientTable">
    <!--  ID column  -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.patientId}} </mat-cell>
    </ng-container>
  <!--  First Name column  -->
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
    </ng-container>
    <!--  Last Name column  -->
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
    </ng-container>
    <!--  Birth column  -->
    <ng-container matColumnDef="birth">
      <mat-header-cell *matHeaderCellDef> Birth </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.birthDate | date: 'longDate'}}, {{element.birthPlace}} </mat-cell>
    </ng-container>
    <!--  Address column  -->
    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" routerLink="/patient/{{row._id}}" class="row-link"></mat-row>
  </table>
</div>
