.mat-form-field {
  font-size: 14px;
}

.search-bar{
  display: flex;
}
.SearchBar{
  width: 79%;
}

#fill{
  flex: 1 1 auto;
}

.add-patient-button{
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  height: 70%;
}
