<div class="add-patient">
    <h1>Add Exam</h1>
    <button mat-icon-button class="material-icons" (click)="goBack()">
        <mat-icon>
            arrow_back
        </mat-icon>
    </button>
    <div class="form-div">
        <mat-form-field appearance="outline" [hideRequiredMarker]="hidden">
            <mat-label>Exam name</mat-label>
            <input matInput
                   placeholder="Exam name"
                   type="text"
                   required
                   name="examName"
                   [(ngModel)]="exam.name">
        </mat-form-field>
        <mat-form-field appearance="outline" [hideRequiredMarker]="hidden">
            <mat-label>Exam Date</mat-label>
            <input matInput
                   [matDatepicker]="picker"
                   [(ngModel)]="exam.date"
                   ngDefaultControl
                   required
                   name="birthDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br>
        <form [formGroup]="featureForm">
            <mat-form-field appearance="outline" [hideRequiredMarker]="hidden">
                <input type="text"
                       matInput
                       placeholder="Feature name"
                       formControlName="featureGroup"
                       required
                       [(ngModel)]="feature.name"
                       [matAutocomplete]="autoGroup">
                <mat-autocomplete #autoGroup="matAutocomplete">
                    <mat-optgroup *ngFor="let group of featureGroupOptions | async" [label]="group.disease">
                        <mat-option *ngFor="let name of group.names" [value]="name">
                            {{name}}
                        </mat-option>
                    </mat-optgroup>
                </mat-autocomplete>
            </mat-form-field>
        </form>
        <mat-form-field appearance="outline" [hideRequiredMarker]="hidden">
            <mat-label>Feature value (True/False or Numerical value)</mat-label>
            <input matInput
                   placeholder="Feature value (True/False or Numerical value)"
                   type="text"
                   required
                   name="featureValue"
                   [(ngModel)]="feature.value">
        </mat-form-field>
        <br>
        <button mat-raised-button
                class="btn btn-success"
                (click)="pushAndClearFeatureData()"
        >Add feature</button>

        <br>
        <button mat-raised-button
                [disabled]="exam.features.length == 0"
                class="btn btn-success"
                (click)="saveExam()"
                color="primary">Submit</button>
    </div>




</div>



