.login  {
    border: 2px #08a884;
    background: none;
    text-align: center;
}

.icon{
}

#brain{
    margin-top: 10%;
    width: 80%;
    height: auto;
    color: #E5FCEF;
    left: 20%;
}

.mat-stroked-button{
    margin: 10px;
}

#title, #line{
    margin: 40px 20px 5px;
    color: white;
    font-weight: normal;
    font-size: 42px;
}

#app-descr{
    color: #E5FCEF;
    margin: 40px 20px 20px;
    width: 80%;
    font-size: 18px;
}

#line{
    background: linear-gradient(100deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0) 100%);
    height: 2px;
    margin: 16px 22px 20px;
    width: 40%;
}

.page{
    font-family: 'Lato', sans-serif;
    width: 100%;
    overflow:auto;
    height: 100%;
}

.left{
    float: left;
    width: 50%;
    height: 100%;
    background: linear-gradient(160deg, #76C8D1 0%, #57BC90 55.26%);
    /*background-size: 50% auto;*/
    /* #62C0A6 36.25%, #61C0A6 36.26%, #61C0A5 36.27%,*/
}

/* Right side */
.right{
    float: right;
    width: 50%;
    height: 100%;
}
.login-form{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mat-form-field{
    width: 100%;
}

#login-title{
    margin-top: 12%;
    margin-bottom: 13%;
    left: 0;
    font-size: 40px;
}

#login-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22%;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    padding-bottom: 5px;
}

.add-patient-form{
    width: 80%;
    margin: 3% 0;
    align-self: center;
    align-items: center;
}

.mat-button{
    border: 2px!important;
}
   ::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
       background-color: #43455C!important;
   }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
      color: #43455C!important;
  }

  ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
      color: #43455C!important;
  }

   ::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
       color: red!important;
       opacity: 0.8!important;
   }

   ::ng-deep .mat-input-element {
       caret-color: #43455C!important;
   }

   ::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
       caret-color: red!important;
   }

   ::ng-deep .mat-form-field-label {
       color: rgba(0,0,0,.6)!important;
   }

   ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
       color: #43455C!important;
   }

   ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
       color: red!important;
   }


    .mat-raised-button.mat-accent,
    .mat-stroked-button.mat-accent,
    .mat-flat-button.mat-accent,
    .mat-button.mat-accent {
        align-self: end;
        margin-right: 10%;
        background-color: white;
        border: solid 2px;
    }
