<div class="add-patient" *ngIf="patient">
        <h1>
            Edit Patient
            <button mat-raised-button class="warn-title-button" color="warn" (click)="confirmDialog()">Delete patient</button>
        </h1>

    <div id="form-div">
        <form class="add-patient-form" #addPatient="ngForm">
            <div class="form-wrapper">
            <mat-form-field appearance="outline">
                <mat-label>First name</mat-label>
                <label>
                    <input matInput
                           placeholder="First Name"
                           type="text"
                           required
                           name="firstName"
                           [(ngModel)]="patient.firstName">
                </label>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Middle name</mat-label>
                <input matInput
                       placeholder="Middle Name"
                       type="text"
                       name="middleName"
                       [(ngModel)]="patient.middleName">
            </mat-form-field>
            </div>
            <br>

            <mat-form-field appearance="outline">
                <mat-label>Last name</mat-label>
                <input matInput
                       placeholder="Last Name"
                       type="text"
                       required
                       name="lastName"
                       [(ngModel)]="patient.lastName">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Gender</mat-label>
                <mat-select disableRipple
                            required
                            [(ngModel)]="this.patient.gender"
                            ngDefaultControl
                            name="gender">
                    <mat-option [value]=0>Male</mat-option>
                    <mat-option [value]=1>Female</mat-option>
                </mat-select>
            </mat-form-field>
            <br>

            <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <input matInput
                       placeholder="Address"
                       type="text"
                       required
                       name="address"
                       [(ngModel)]="patient.address">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Patient Id</mat-label>
                <input matInput
                       placeholder="Patient Id"
                       type="text"
                       required
                       name="patientID"
                       [(ngModel)]="patient.patientId">
            </mat-form-field>
            <br>

            <mat-form-field appearance="outline">
                <mat-label>Birth Date</mat-label>
                <input matInput
                       [matDatepicker]="picker"
                       [(ngModel)]="patient.birthDate"
                       ngDefaultControl
                       required
                       name="birthDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Birth Place</mat-label>
                <input matInput
                       placeholder="Birth Place"
                       type="text"
                       required
                       name="birthPlace"
                       [(ngModel)]="patient.birthPlace">
            </mat-form-field>
            <br>

            <mat-form-field appearance="outline">
                <mat-label>Phone number</mat-label>
                <input matInput
                       placeholder="Phone number"
                       type="text"
                       name="phoneNumber"
                       [(ngModel)]="patient.phoneNumber">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput
                       placeholder="Email"
                       type="email"
                       email
                       name="email"
                       [(ngModel)]="patient.email">
            </mat-form-field>
            <br>
            <button mat-raised-button
                    (click)="goBack()"
                    class="btn btn-success">Go back</button>
            <button mat-raised-button
                    (click)="savePatient()"
                    class="btn btn-success"
                    [disabled]="!addPatient.valid || this.patient.gender == -1"
                    color="primary">Edit patient</button>
        </form>
    </div>
</div>
