<div *ngIf="patient" class="main-container add-patient">
  <h1>
    <button mat-icon-button class="material-icons" (click)="goBack()">
      <mat-icon>
        arrow_back
      </mat-icon>
    </button>
    {{patient.firstName}}
    <span class="info-left">
          <span *ngIf="patient.middleName"> {{patient.middleName}}</span>
      {{patient.lastName}}
        </span>
    <button mat-icon-button class="material-icons mat-icons-custom" routerLink="/patient/edit/{{patient._id}}">
      <mat-icon>
        create
      </mat-icon>
    </button>
  </h1>
  <div class="form-div">
  <div class="info">
  <p class="info-left">Gender: <span class="info-right">{{genderMap[patient.gender]}}</span></p>
  <p class="info-left">Birth Date: <span class="info-right">{{patient.birthDate | date: 'longDate'}}</span></p>
  <p class="info-left">Birth Place: <span class="info-right">{{patient.birthPlace}} </span></p>
  <p class="info-left">Address: <span class="info-right">{{patient.address}}</span></p>
  </div>
<br>

    <h2>Visits</h2>
<!-- Visits table -->
  <div class="table">
    <div class="search-bar">
    <mat-form-field class="SearchBar">
      <mat-label>Search</mat-label>
      <input matInput (keyup)="filterName($event)" placeholder="Visit">
    </mat-form-field>
    <button mat-raised-button class="add-patient-button" color="primary" routerLink="/add_visit/{{patient._id}}">Add visit</button>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!--  Visit date column  -->
      <ng-container matColumnDef="visitDate">
        <mat-header-cell *matHeaderCellDef> Visit Date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.date | date: 'short'}} </mat-cell>
      </ng-container>
      <!--  Doctor Name column  -->
      <ng-container matColumnDef="doctorName">
        <mat-header-cell *matHeaderCellDef> Doctor Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.doctorName}} </mat-cell>
      </ng-container>
      <!--  Exams number column  -->
      <ng-container matColumnDef="examsNumber">
        <mat-header-cell *matHeaderCellDef> No. of exams </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.exams.length}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" routerLink="/patient/{{patient._id}}/{{row._id}}" class="row-link"></mat-row>
    </table>
  </div>
  </div>
</div>
