.mat-raised-button{
  margin: 5px 5px 5px 0;
}

.table{
  margin: auto;
}

.mat-form-field {
  font-size: 14px;
}

.info{
  margin: auto;
  width: 100%;
}

.info-left{
  margin: auto;
  text-align: left;
}

.info-right{
  margin: auto;
  float: right;
}

.form-div{
  height: 100%;
  padding: 2%;
  border-radius: 10px;
  display: block;
  background-color: #F2F2F2;
}

#patient-name{
  text-align: center;
}

.search-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin: auto;
}

.add-patient-button{
  margin-left: 10px;
  margin-top: 5px;
}
