<div class="add-patient" *ngIf="admin">
    <h1>
        <button mat-icon-button class="material-icons" (click)="goBack()">
            <mat-icon>
                arrow_back
            </mat-icon>
        </button>
        Your Data
    </h1>
    <div class="form-div">
        <form class="add-patient-form" #addAdmin="ngForm">
            <mat-form-field appearance="outline" [hideRequiredMarker]="hidden">
                <mat-label>First name</mat-label>
                <label>
                    <input matInput
                           placeholder="First Name"
                           type="text"
                           required
                           name="firstName"
                           [(ngModel)]="admin.firstName">
                </label>
            </mat-form-field>
            <mat-form-field appearance="outline" [hideRequiredMarker]="hidden">
                <mat-label>Last name</mat-label>
                <input matInput
                       placeholder="Last Name"
                       type="text"
                       required
                       name="lastName"
                       [(ngModel)]="admin.lastName">
            </mat-form-field>
            <br>

            <mat-form-field appearance="outline" [hideRequiredMarker]="hidden">
                <mat-label>Address</mat-label>
                <input matInput
                       placeholder="Address"
                       type="text"
                       required
                       name="address"
                       [(ngModel)]="admin.address">
            </mat-form-field>
            <mat-form-field appearance="outline" [hideRequiredMarker]="hidden">
                <mat-label>Phone number (optional)</mat-label>
                <input matInput
                       placeholder="Phone number (optional)"
                       type="text"
                       name="phoneNumber"
                       [(ngModel)]="admin.phoneNumber">
            </mat-form-field>
            <br>

            <mat-form-field appearance="outline" [hideRequiredMarker]="hidden">
                <mat-label>Email (optional)</mat-label>
                <input matInput
                       placeholder="Email (optional)"
                       type="email"
                       required
                       email
                       name="email"
                       [(ngModel)]="admin.email">
            </mat-form-field>
            <mat-form-field appearance="outline" [hideRequiredMarker]="hidden">
                <mat-label>Password</mat-label>
                <input matInput
                       placeholder="Password"
                       required
                       type="password"
                       name="password"
                       [(ngModel)]="admin.password">
            </mat-form-field>
            <br>
            <button mat-raised-button
                    (click)="saveAdmin()"
                    class="btn btn-success"
                    [disabled]="!addAdmin.valid"
                    color="primary">Edit</button>
        </form>
    </div>
</div>
