<div class="example-container">
  <div>
    <form class="add-patient-form" #addPatient="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>First name</mat-label>
      <label>
        <input matInput
               placeholder="First Name"
               type="text"
               required
               name="firstName"
               [(ngModel)]="patient.firstName">
      </label>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Middle name</mat-label>
      <input matInput
             placeholder="Middle Name"
             type="text"
             name="middleName"
             [(ngModel)]="patient.middleName">
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Last name</mat-label>
      <input matInput
             placeholder="Last Name"
             type="text"
             required
             name="lastName"
             [(ngModel)]="patient.lastName">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Gender</mat-label>
<!--todo why da hell gender is not required.-->
      <mat-select disableRipple
                  required
                  [(ngModel)]="this.patient.gender"
                  ngDefaultControl
                  name="gender"
      >
        <mat-option [value]=0>Male</mat-option>
        <mat-option [value]=1>Female</mat-option>
      </mat-select>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Address</mat-label>
      <input matInput
             placeholder="Address"
             type="text"
             required
             name="address"
             [(ngModel)]="patient.address">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Patient Id</mat-label>
      <input matInput
             placeholder="Patient Id"
             type="text"
             required
             name="patientID"
             [(ngModel)]="patient.patientId">
    </mat-form-field>
    <br>

    <button mat-raised-button
            (click)="savePatient()"
            class="btn btn-success"
            [disabled]="!addPatient.valid"
            color="primary">Submit</button>
    </form>
  </div>



</div>

