.image-container, .chartContainer{
    margin: auto;
    padding: 2%;
}

.prediction-image{
    width: 100%;
    margin: auto;
}
/*TODO HEIGHT 34px ARROW*/

.green{
    color: #08a884;
}

.orange{
    color: darkgoldenrod;
}

.red{
    color: crimson;
}

.info{
    width: 30%;
}

.info-left{
    margin: auto;
    text-align: left;
}

.info-right{
    margin: auto;
    float: right;
}

h2, h1{
    margin-top: 4%;
    margin-bottom: 0;
}

h1 {
    margin-top: 2%;
}

.form-div{
    height: 100%;
    padding: 2%;
    border-radius: 10px;
    display: block;
    background-color: white;
}


.title{
    text-align: left;
}
