#MLCare{
    font-size: 2em;
    font-family: 'Nunito', sans-serif;
}

.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 170px;
}

.mat-raised-button{
    width: 80%;
    margin: 5px;
}
