<div *ngIf="visit" class="add-patient">
    <h1>
        <button mat-icon-button class="material-icons" (click)="goBack()">
            <mat-icon>
                arrow_back
            </mat-icon>
        </button>
        Edit Visit
        <button mat-icon-button class="material-icons" (click)="confirmDeleteVisitDialog()">
            <mat-icon>
                delete
            </mat-icon>
        </button>
    </h1>

    <div class="form-div">
    <br>
    <mat-form-field appearance="outline" [hideRequiredMarker]="hidden">
        <mat-label>Doctor name</mat-label>
        <input matInput
               placeholder="Doctor name"
               type="text"
               name="doctorName"
               [(ngModel)]="visit.doctorName">
    </mat-form-field>
    <mat-form-field appearance="outline" [hideRequiredMarker]="hidden">
        <mat-label>Visit Date</mat-label>
        <input matInput
               [matDatepicker]="picker"
               [(ngModel)]="visit.date"
               ngDefaultControl
               required
               name="birthDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
        <br>
    </div>
</div>
