<p>{{visit._id}}</p>
<button mat-raised-button (click)="goBack()">Go back</button>
<br>
<button mat-raised-button color="accent" [disabled]="this.diseases == null" (click)="openPickDiseases()">Predict disease</button>
<button mat-raised-button color="accent" (click)="openPickExams()">Predict based on the exams</button>

<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column.toLowerCase()]}} </td>
  </ng-container>

<!--  &lt;!&ndash; Expanded Content Column - The detail row is made up of this one column that spans across all columns &ndash;&gt;-->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <table mat-table [dataSource]="element.features" class="mat-elevation-z0 inner-feature-table">

          <ng-container matColumnDef="featureName">
            <th mat-header-cell *matHeaderCellDef> Feature Name </th>
            <td mat-cell *matCellDef="let elem"> {{elem.name}} </td>
          </ng-container>

          <ng-container matColumnDef="featureValue">
            <th mat-header-cell *matHeaderCellDef> Value </th>
            <td mat-cell *matCellDef="let elem"> {{elem.value}} {{elem.unit}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="featuresColumnsToDisplay"></tr>
          <tr mat-row *matRowDef="let row; columns: featuresColumnsToDisplay;"></tr>
        </table>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
