/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Nunito, sans-serif; }
table, .SearchBar{
  /*margin: 0 10px;*/
  width: 100%;
}
.row-link:hover {
  background-color: rgba(0, 0, 0, .05);
  cursor: pointer;
}

.main-container{
  width: 88%;
  margin: auto;
}

.mat-button, .mat-form-field-appearance-outline .mat-form-field-outline{
  border-width: 5px!important;
}

.search-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin: auto;
}

.SearchBar{
  width: 96%;
  margin-right: 1%;
}

.add-patient-button{
  float: right;
  margin: 0;
}
